

<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ayush Bansal about the sample app at his
  <a href="https://www.github.com/ayu023ban">Github</a> account.<br>
  Or mail me at "ayu023ban@gmail.com". 
</p>
