<% provide(:title , "help") %>
<h3>To run this project perform the following commands(in linux environment):</h3>
<em>step:1 => </em>  You have to install "rmagick" in your pc, just Google it how to install.<br>
<em>step:2 => </em>  clone the repositery to your desired location.<br>
<em>step:3 => </em>  open insteadGram folder (which is present in your desired location where you clone the repo) and open terminal in insteadGram location.<br>
<em>step:4 => </em>  write "bundle install" in the terminal. <br>
<em>step:5 => </em>  write "rails db:migrate" in the terminal.<br>
<em>step:5 => </em>  write ("rails server") in the terminal. <br>
<em>step:6 => </em>  open <a href="http://localhost:3000/">http://localhost:3000/</a> and enjoy.<br>
<em>step:7 => </em>  feel free to upgrade it according to you.<br>
