<footer class="footer">
    <a href="https://facebook.com/ayushbansal23" class="social fa fa-facebook"></a>
    <a href="http://www.instagram.com/ayu023ban" class="social fa fa-instagram"></a>
    <a href="http://www.github.com/ayu023ban" class="social fa fa-github"></a>


    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

</footer>
